@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="solid_banner_area">
    <div class="container">
        <div class="solid_banner_inner">
            <h3>@ViewBag.Result</h3>
            @if (ViewBag.Result.ToString().StartsWith("Ü"))
            {
                <a href="/Account/Login" class="btn btn-success">Giriş Yap</a>
            }
        </div>
    </div>
</section>

